# jupyter notebook
.ipynb_checkpoints/

# coverage
.coverage

# pytest
.pytest_cache/

# export de latex
out/

# mypy pour le typage
.mypy_cache/

# lexique/Documentation

# fichier cache quelconques
__pycache__/
.idea/

# dossier généré par antora pour la documentation
# partie node pour aussi gérer la documentation
build/
node_modules/
package.json
package-lock.json

# useless CUE files... maybe to delete
/projects/
